<div class="container mt-5">
    <h2>Dashboard</h2>
    <h3><img src="icon/fi.png" alt=""> list order</h3>
    <table id="datatable" class="table">
        <thead>
            <tr>
                <th class="text-center">No</th>
                <th>User Email <img src="icon/fi_sort.png" alt=""></th>
                <th>Car <img src="icon/fi_sort.png" alt=""></th>
                <th>Start Rent <img src="icon/fi_sort.png" alt=""></th>
                <th>Finish Rent <img src="icon/fi_sort.png" alt=""></th>
                <th>Price <img src="icon/fi_sort.png" alt=""></th>
                <th>Satus <img src="icon/fi_sort.png" alt=""></th>
            </tr>
        </thead>
        <tbody style="background: white";>
            <tr>
                <td class="text-center">1</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Satus</td>
            </tr>
            <tr>
                <td class="text-center">2</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Satus</td>
            </tr>
            <tr>
                <td class="text-center">3</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Satus</td>
            </tr>
            <tr>
                <td class="text-center">4</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Satus</td>
            </tr>
            <tr>
                <td class="text-center">5</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Satus</td>
            </tr>
            <tr>
                <td class="text-center">6</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Satus</td>
            </tr>
            <tr>
                <td class="text-center">7</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Satus</td>
            </tr>
            <tr>
                <td class="text-center">8</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Satus</td>
            </tr>
            <tr>
                <td class="text-center">9</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Satus</td>
            </tr>
            <tr>
                <td class="text-center">10</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Satus</td>
            </tr>
        </tbody>
    </table>
    <div class="bottom">
        <div class="row">
            <p class="limit col-lg-1 col-md-2">Limit</p>
            <p class="tjtp col-lg-2 col-md-2">Jump to page</p>
        </div>
        <div class="row">
            <div class="drop col-lg-1 col-md-2 col-12">
                <select class="form-select" aria-label="Default select example">
                    <option selected>10</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                </select>
            </div>
            <div class="jtp col-lg-4 col-md-4 col-12">
                <select class="form-select" aria-label="Default select example">
                    <option selected>1</option>
                    <option value="1">2</option>
                    <option value="2">3</option>
                    <option value="3">4</option>
                </select>
                <button type="button" class="btn btn-go">Go</button>
            </div>
            <div class="paging col-lg-7 col-md-6 col-12 justify-content-end">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h3><img src="icon/fi.png" alt=""> list car</h3>
    <table id="datatable" class="table">
        <thead>
            <tr>
                <th class="text-center">No</th>
                <th>Name <img src="icon/fi_sort.png" alt=""></th>
                <th>Category <img src="icon/fi_sort.png" alt=""></th>
                <th>Price <img src="icon/fi_sort.png" alt=""></th>
                <th>Start Rent <img src="icon/fi_sort.png" alt=""></th>
                <th>Finish Rent <img src="icon/fi_sort.png" alt=""></th>
                <th>Created at <img src="icon/fi_sort.png" alt=""></th>
                <th>Updated at <img src="icon/fi_sort.png" alt=""></th>
            </tr>
        </thead>
        <tbody style="background: white";>
            <tr>
                <td class="text-center">1</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Created at</td>
                <td>Updated at</td>
            </tr>
            <tr>
                <td class="text-center">2</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Created at</td>
                <td>Updated at</td>
            </tr>
            <tr>
                <td class="text-center">3</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Created at</td>
                <td>Updated at</td>
            </tr>
            <tr>
                <td class="text-center">4</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Created at</td>
                <td>Updated at</td>
            </tr>
            <tr>
                <td class="text-center">5</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Created at</td>
                <td>Updated at</td>
            </tr>
            <tr>
                <td class="text-center">6</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Created at</td>
                <td>Updated at</td>
            </tr>
            <tr>
                <td class="text-center">7</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Created at</td>
                <td>Updated at</td>
            </tr>
            <tr>
                <td class="text-center">8</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Created at</td>
                <td>Updated at</td>
            </tr>
            <tr>
                <td class="text-center">9</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Created at</td>
                <td>Updated at</td>
            </tr>
            <tr>
                <td class="text-center">10</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Created at</td>
                <td>Updated at</td>
            </tr>

        </tbody>
    </table>
    <div class="bottom">
        <div class="row">
            <p class="limit col-lg-1 col-md-2">Limit</p>
            <p class="tjtp col-lg-2 col-md-2">Jump to page</p>
        </div>
        <div class="row">
            <div class="drop col-lg-1 col-md-2 col-12">
                <select class="form-select" aria-label="Default select example">
                    <option selected>10</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                </select>
            </div>
            <div class="jtp col-lg-4 col-md-4 col-12">
                <select class="form-select" aria-label="Default select example">
                    <option selected>1</option>
                    <option value="1">2</option>
                    <option value="2">3</option>
                    <option value="3">4</option>
                </select>
                <button type="button" class="btn btn-go">Go</button>
            </div>
            <div class="paging col-lg-7 col-md-6 col-12 justify-content-end">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>