<div class="container-list-car">
    <div class="list-button">
        <span class="list-car">List Car</span>
        <div class="button-right">
            <button type="button" class="btn btn-primary">
                <img src="images/fi_plus.png" alt="icon-plus"> Add New Car
            </button>
        </div>
    </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                  <img src="images/img-BeepBeep.png" alt="">
                </div>
                <div class="modal-body text-center">
                  <h6>Menghapus Data Mobil</h6>
                  <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <button type="button" class="btn btn-save-modal">Ya</button>
                  <button type="button" class="btn btn-close-modal" data-bs-dismiss="modal">Tidak</button>
                </div>
              </div>
            </div>
          </div>
        <!-- End Modal -->
    <div class="btn-group" aria-label="Basic example" style="width: 312px">
        <button type="button" class="btn btn-outline-primary">All</button>
        <button type="button" class="btn btn-outline-primary" style="width: 64px"> Small</button>
        <button type="button" class="btn btn-outline-primary" style="width: 79px">Medium</button>
        <button type="button" class="btn btn-outline-primary" style="width: 64px">Large</button>
    </div>
    <div class="row row-cols-2">
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="images/fi_car.png" alt="img-car">
                    </h5>
                    <p>Nama/Tipe Mobil</p>
                    <h6>Rp 430.000 / hari</h6>
                    <p class="card-text">
                        <img src="images/fi_key.png" alt="icon-key">Start rent - Finish rent
                    </p>
                    <p class="card-text">
                        <img src="images/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                    </p>
                    <div class="btn-group" aria-label="Basic example">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <img src="images/fi_trash-2.png" alt="icon-trash">Delete
                        </button>
                        <button type="button" class="btn btn-success">
                            <img src="images/fi_edit.png" alt="icon-edit">Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="images/fi_car.png" alt="img-car">
                    </h5>
                    <p>Nama/Tipe Mobil</p>
                    <h6>Rp 430.000 / hari</h6>
                    <p class="card-text">
                        <img src="images/fi_key.png" alt="icon-key">Start rent - Finish rent
                    </p>
                    <p class="card-text">
                        <img src="images/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                    </p>
                    <div class="btn-group" aria-label="Basic example">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <img src="images/fi_trash-2.png" alt="icon-trash">Delete
                        </button>
                        <button type="button" class="btn btn-success">
                            <img src="images/fi_edit.png" alt="icon-edit">Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="images/fi_car.png" alt="img-car">
                    </h5>
                    <p>Nama/Tipe Mobil</p>
                    <h6>Rp 430.000 / hari</h6>
                    <p class="card-text">
                        <img src="images/fi_key.png" alt="icon-key">Start rent - Finish rent
                    </p>
                    <p class="card-text">
                        <img src="images/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                    </p>
                    <div class="btn-group" aria-label="Basic example">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <img src="images/fi_trash-2.png" alt="icon-trash">Delete
                        </button>
                        <button type="button" class="btn btn-success">
                            <img src="images/fi_edit.png" alt="icon-edit">Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="images/fi_car.png" alt="img-car">
                    </h5>
                    <p>Nama/Tipe Mobil</p>
                    <h6>Rp 430.000 / hari</h6>
                    <p class="card-text">
                        <img src="images/fi_key.png" alt="icon-key">Start rent - Finish rent
                    </p>
                    <p class="card-text">
                        <img src="images/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                    </p>
                    <div class="btn-group" aria-label="Basic example">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <img src="images/fi_trash-2.png" alt="icon-trash">Delete
                        </button>
                        <button type="button" class="btn btn-success">
                            <img src="images/fi_edit.png" alt="icon-edit">Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="images/fi_car.png" alt="img-car">
                    </h5>
                    <p>Nama/Tipe Mobil</p>
                    <h6>Rp 430.000 / hari</h6>
                    <p class="card-text">
                        <img src="images/fi_key.png" alt="icon-key">Start rent - Finish rent
                    </p>
                    <p class="card-text">
                        <img src="images/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                    </p>
                    <div class="btn-group" aria-label="Basic example">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <img src="images/fi_trash-2.png" alt="icon-trash">Delete
                        </button>
                        <button type="button" class="btn btn-success">
                            <img src="images/fi_edit.png" alt="icon-edit">Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="images/fi_car.png" alt="img-car">
                    </h5>
                    <p>Nama/Tipe Mobil</p>
                    <h6>Rp 430.000 / hari</h6>
                    <p class="card-text">
                        <img src="images/fi_key.png" alt="icon-key">Start rent - Finish rent
                    </p>
                    <p class="card-text">
                        <img src="images/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                    </p>
                    <div class="btn-group" aria-label="Basic example">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <img src="images/fi_trash-2.png" alt="icon-trash">Delete
                        </button>
                        <button type="button" class="btn btn-success">
                            <img src="images/fi_edit.png" alt="icon-edit">Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="images/fi_car.png" alt="img-car">
                    </h5>
                    <p>Nama/Tipe Mobil</p>
                    <h6>Rp 430.000 / hari</h6>
                    <p class="card-text">
                        <img src="images/fi_key.png" alt="icon-key">Start rent - Finish rent
                    </p>
                    <p class="card-text">
                        <img src="images/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                    </p>
                    <div class="btn-group" aria-label="Basic example">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <img src="images/fi_trash-2.png" alt="icon-trash">Delete
                        </button>
                        <button type="button" class="btn btn-success">
                            <img src="images/fi_edit.png" alt="icon-edit">Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="images/fi_car.png" alt="img-car">
                    </h5>
                    <p>Nama/Tipe Mobil</p>
                    <h6>Rp 430.000 / hari</h6>
                    <p class="card-text">
                        <img src="images/fi_key.png" alt="icon-key">Start rent - Finish rent
                    </p>
                    <p class="card-text">
                        <img src="images/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                    </p>
                    <div class="btn-group" aria-label="Basic example">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <img src="images/fi_trash-2.png" alt="icon-trash">Delete
                        </button>
                        <button type="button" class="btn btn-success">
                            <img src="images/fi_edit.png" alt="icon-edit">Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="images/fi_car.png" alt="img-car">
                    </h5>
                    <p>Nama/Tipe Mobil</p>
                    <h6>Rp 430.000 / hari</h6>
                    <p class="card-text">
                        <img src="images/fi_key.png" alt="icon-key">Start rent - Finish rent
                    </p>
                    <p class="card-text">
                        <img src="images/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                    </p>
                    <div class="btn-group" aria-label="Basic example">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <img src="images/fi_trash-2.png" alt="icon-trash">Delete
                        </button>
                        <button type="button" class="btn btn-success">
                            <img src="images/fi_edit.png" alt="icon-edit">Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
