body {
    background: #F4F5F7;
}

/* CONTENT SECTION BEGIN */
.content-section {
    margin-left: 50px;
    margin-top: 70px;
}
/* CONTENT SECTION END */


/* NAVBAR SECTION BEGIN */
.navbar-section {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
}

.navbar {
    background-color: white;
    height: 70px;
    width: 100vw;
}
/* NAVBAR SECTION END */


/* SIDEBAR SECTION BEGIN */
.collapseSidebar {
    display:none;
}
.main-menu {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #0D28A6;
    width: 70px;
    height: 100vh;
    color: white !important;
    font-size: 12px;
    z-index: 999;
}

.main-menu a,
.main-menu a:hover {
    color: white !important;
    text-decoration: none;
}

.box {
    height: 70px;
}

.box:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.side-icon {
    width: 30px;
}

.menu-list {
    position: fixed;
    top: 70px;
    left: 70px;
    width: 220px;
    height: 100vh;
    background-color: white;
}

.list-menu {
    font-weight: 700;
    padding: 12px 18px;
}

.list-menu:hover {
    background-color: #CFD4ED;
}

.menu-list a {
    color: black;
    text-decoration: none;
}
/* SIDEBAR SECTION END */


/* ----------------------------------------------------- */
/* ------------ CSS CONTENT START FROM HERE ------------ */
/* ----------------------------------------------------- */


/* ADD NEW CAR BEGIN */
.sub-tree i {
    position: relative;
    top: 5px;
}

a:hover {
    color: blue !important;
}

.sub-tree a {
    color: black;
    text-decoration: inherit;
}

.icon {
    background-size: 20px;
    background-origin: content-box, padding-box;
    cursor: pointer;
}

.btn-decision {
    /* position: relative;
    bottom: -80px; */
    margin-top: 100px;
}

.btn-cancel,
.btn-save {
    padding: 8px 12px;
    border: 2px #0D28A6 solid;
    color: #0D28A6;
    font-weight: 700;
}

.btn-cancel:hover,
.btn-save:hover {
    padding: 8px 12px;
    background: #0D28A6;
    color: white;
    font-weight: 700;
}
/* ADD NEW CAR END */